@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400&display=swap');
*{
    box-sizing: border-box; /*define todos o width fixos importante para ele nao mudar de tamanho */
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito', sans-serif; 
    background-color: black;
}




.cabeca{
    text-align: center;
    background-color: #E6E6E6;
}
.cabeca h1{
    font-size: 24px;
    color: white;
}

.cabeca h2{
    font-weight: bold;
    font-size: 16px;
    color: white;
}

.conteudo{
    margin-top: 15px;
}

table {
    margin: auto;
    width: 360px;
    height: 150px;
    border-collapse: collapse; /*comando para unior as linhas da tabela tirando os espaços dando o formato de uma tabela de verdade*/
    border: 2px solid white;
    background-color: black;
    
    
}

tr.linha {
    background-color: white;

}
td {
    border: 1px solid white;
    padding: 8px;
    text-align: center; /*alinhamento horizontal*/
    vertical-align: middle; /*alinhamento vertical que pode ser top middle ou bottom*/


}

.inputs {
    width: 160px;
    height: 40px;
    color: white;
}

.botao{
    width: 150px;
    height: 40px;
    font-weight: bold;
    background-color: rgb(60, 255, 0);
    border: 1px solid;
    border-radius: 5px;

}
.inputs::placeholder {
    color: rgb(228, 228, 228);
  }

#res{
    color: white;
}


